# General
*.html
*.log
*.tmp
*.xml

# ISE
ipcores/
iseconfig/
xlnx_auto_0_xdb/
xst/
_xmsgs/
*.drc
*.bit
*.bgn
*.bld
*.cfi
*.lso
*.lst
*.gise
*.map
*.mcs
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.pad
*.par
*.pcf
*.prm
*.ptwx
*.srp
*.unroutes
*.xpi
*.xrpt
*.xwbt
*_pad.csv
*_pad.txt

# ISIM
isim/
fuse*
isim.cmd
*_beh.*
xilinxsim.ini

# Vim
*.swp
*.swo
