# General
*.html
*.log
*.tmp
*.xml

# ISE
ipcores/
iseconfig/
xlnx_auto_0_xdb/
xst/
_xmsgs/
*.drc
*.bit
*.bgn
*.bld
*.cfi
*.cmd_log
*.lso
*.lst
*.gise
*.map
*.mcs
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.prm
*.ptwx
*.srp
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xrpt
*.xst
*.xwbt
*_pad.csv
*_pad.txt

# ISIM
isim/
fuse*
isim.cmd
*_beh.*
xilinxsim.ini

# Vim
*.swp
*.swo
