###############################################################################
# SP605 Constraints
###############################################################################

CONFIG PART = xc6slx45t-fgg484-3;

# Timing
NET "clock_n" TNM_NET = clock_n;
TIMESPEC TS_clock_n = PERIOD "clock_n" 8 ns LOW 50%;
NET "clock_p" TNM_NET = clock_p;
TIMESPEC TS_clock_p = PERIOD "clock_p" 8 ns HIGH 50%;

